########## System Settings ################
TELEGRAM_TOKEN=6319764062:AAGasJRJeULcuUy-uz478ndkWqe-tGxKPpY
CHAT_ID=-1001989223857
UV_THREADPOOL_SIZE=6
TZ='Asia/Ho_Chi_Minh'
AT_SECRET=V7FcetYfMEmiiZGrS4GvZoyNclbkUCFv
RT_SECRET=GvZoyNclbkUCFvV7FcetYfMEmiiZGclbkU
USER_PASSWORD=jtmbdguF@Jcuf%5dhRMQrjj
SCORE_MIN=15000
DEPOSIT=500
MULTIPLE=1
VIP_LIST=NEW,NORMAL,COPPER,SILVER,GOLD,PLATINUM,EMERALD,SAPPHIRE,DIAMOND
RATE_LIMIT_TTL=1
RATE_LIMIT_MAX=10

DOMAIN=8B_DEV
SIGN_8B_DEV=8fc490dd82c9471b9f65b897ea65c0b8

# DOMAIN=8B_PRO
# SIGN_8B_PRO=de1df4bb993e401f8113405c378d7fb0

########## Database Settings ################
APP_PORT=3000

DB_WRITE_HOST=localhost
DB_WRITE_PORT=3306
DB_WRITE_USERNAME=daodua
DB_WRITE_PASSWORD=1234567890
DB_WRITE_DATABASE=duahau

# DB_READ_HOST=localhost
# DB_READ_PORT=3306
# DB_READ_USERNAME=daodua
# DB_READ_PASSWORD=1234567890
# DB_READ_DATABASE=duahau

# RABBIT_MQ_USER=adnthony99
# RABBIT_MQ_PASSWORD=Ad33HRbP@03HcXh
# RABBIT_MQ_PORT=5672
# RABBIT_MQ_AMQP=amqp
# RABBIT_MQ_URI=ec2-3-0-209-237.ap-southeast-1.compute.amazonaws.com
# RABBIT_MQ_QUEUE_NAME=collections

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=Ad2HRbP@@3HcXh